body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color: #006633;
    color: #006633;*/
}
.navbar-inverse,
.navbar-brand {
    background-color: #003300;
}

p,
a {
    font-family: Verdana;
    color: black;
    text-align: justify;
}

a:hover {
    color: #009966;
}
a:visited {
    color: #006633;
}

.btn-primary{
    background-color: #006633;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
select {
    font-family: Humnst777BT;
}

.jumbotron{
    padding: 20px;
    margin: 10px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}