Django==2.2.17
atomicwrites==1.4.0
attrs==20.3.0
colorama==0.4.4
gunicorn==20.1.0
importlib-metadata==3.7.3
iniconfig==1.1.1
packaging==20.9
pip==19.0.3
pluggy==0.13.1
psycopg2==2.8.6
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
pytz==2020.4
setuptools==40.8.0
sqlparse==0.4.1
toml==0.10.2
typing-extensions==3.7.4.3
zipp==3.4.1
